# VSCode workspace settings:
.vscode/*

#############################
# Server side:
#############################

# No logs or storage:
server/logs/*
server/storage/*

# We want the READMEs for preserving the directory structure:
!server/logs/README.md
!server/storage/README.md
