# VSCode workspace settings:
.vscode/*

# No logs or storage:
wewatch-server/logs/*
wewatch-server/storage/*

# No builds:
wewatch-server/client_build/*
wewatch-client/dist/*

# We want the READMEs for preserving the directory structure:
!wewatch-server/logs/README.md
!wewatch-server/storage/README.md
!wewatch-server/client_build/README.md
