[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
bpython = "*"
ipdb = "*"

[packages]
tornado = "*"
backports-abc = "*"
futures = "*"
six = "*"
singledispatch = "*"
redis = "*"
hiredis = "*"
