body{
	background:#fcfcfc;
}
.float_right{
	float:right;
}
.btn-primary{
	cursor:pointer;
}
.dropdown-toggle{
	cursor:pointer;
}
.navbar-brand{
	margin-right:20px;
}
.navbar .dropdown-menu{
	width:200px;
}
.nav-item.dropdown.mr-auto{
	width:200px;
}
.color_red{
	color:red;
}
.input-group-prepend{
	padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
