{% extends "base_template.html" %}

{% block title %}{{ title }}{% end %}

{% block body %}
    {% module Navbar( args["user"]["name"] if 'name' in args["user"] else None ) %}

    <div class="container">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                {% if args["message"] %}
                    <br>
                    {% module Alert(args["message"]["message"], args["message"]["message_type"]) %}
                {% end %}
                <br>
                {% module Watch(args["video"], args["invite_key"], args["websocket_url"], args["user"]) %}
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
{% end %}
