<!doctype html>
<html>
    <head>
        <title>{% block title %}{% end %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.purple-red.min.css" />
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
        <link rel="stylesheet" href="{{ static_url('main.css') }}">
        {% block end_head %}{% end %}
    </head>
    <body>
        {% block body %}{% end %}
        {% block end_body %}{% end %}
    </body>
</html>
