body{
    background: #cbcbcb45;
}

#topnav{
    height:250px;
}

#pgbody{
    margin-top:-150px;
    z-index:4;
}

#c1{
    width:100%;
}

#c2{
    width:100%;
    top:50px;
}

#headertitle{
    font-size:40px;
}

#headercontainer{
    margin-top:20px;
}
