body{
    background: #cbcbcb45;
}

#topnav{
    height:250px;
}

#pgbody{
    margin-top:-150px;
    z-index:4;
}

#c1{
    width:100%;
    display:inline-block;
}

#c2{
    width:100%;
    top:50px;
    display:inline-block;
}

#headertitle{
    font-size:40px;
}

#headercontainer{
    margin-top:20px;
}

.demo-card-image.mdl-card {
    margin:15px;
    width: 256px;
    height: 256px;
    background: url('http://img.youtube.com/vi/oUMRwOAa-BY/0.jpg') center / cover;
    float:left;
  }
.demo-card-image > .mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.8);
}
.demo-card-image__filename {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}
